<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app" @title="message">
        {{message}}
        <todo-list v-for="item in list" v-bind:todo="item"></todo-list>
        
        <!-- 注意isDisabled必须有 -->
        <button v-bind:disabled='disabled' v-if="disabled"> button </button>
        <!-- 缩写语法 -->
        <a :href='property1'></a>
        <a @click='property2'></a>

        <!-- if渲染多个元素，可以使用一个template进行封装，最后template不会被渲染 -->
        <template v-if="true">
            <h1></h1>
            <p></p>
        </template>

        <div v-if="Math.random() > 0.5">
            Now you can see me
        </div>
        <div v-else> 
            now you don't
        </div>
        
        <!-- key来管理可复用的元素 -->
        <template v-if="loginType === 'username'">
            <label>Username</label>
            <!-- 这里的input和下面的input 在vue会尽可能的复用，不会替换innerhtml -->
            <!-- 如果需要进行独立的区分，则需要指定key！ -->
            <input placeholder="Enter your username">
          </template>
          <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address">
          </template>
    </div>

    <!-- 模版 -->
    <script>
        // 对于模版，也需要在挂载的div对象中使用
        Vue.component('todo-list', {
            template: '<li>这是一个todolist,他有list-item：{{todo}}</li>',
            props:['todo']
        })
    </script>

    <script>
        var app = new Vue({
            el: '#app',
            data:{
                message: 'hellow Vue!',
                list:[1,2,3,4],
                disabled: false,
            },
            //所以，对于任何复杂逻辑，你都应当使用计算属性。
            computed:{

            }
        })
    </script>
    
</body>
</html>